body {
  background-image: url(./images/mount.jpg);
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 120% auto;
}
/* @media (min-width: 1100px) {
  body {
    background-size: 100% auto;
    background-position: auto 100%;
    background-attachment: scroll;
  }
} */
.header {
  height: 50vh;

  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.title {
  backdrop-filter: blur(2px);
  background: rgba(0, 0, 0, 0.15);
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  justify-items: center;
  justify-self: center;
  width: 50%;
  text-align: initial;
  padding: 15px;
}
.title h1 {
  /* justify-self: start; */
  font-size: 3rem;
}
.title h2 {
  /* width: 70%; */
  margin: 0 auto;
  text-align: left;
  justify-self: center;
}
.projects {
  height: 100vh;
  background: lavender;
}

.projects h3 {
  text-align: center;
  position: relative;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  /* font-family: "Source Sans Pro", sans-serif; */
  font-size: 3rem;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 0;
  line-height: 1.1;
}

.projects h3:after,
.projects h3:before {
  position: absolute;
  top: 50%;
  display: block;
  width: 30%;
  width: 32%;
  content: "";
  border-bottom: 5px solid rgba(0, 0, 0, 0.25);
}

.projects h3:after {
  right: 0;
}
.projects h3:before {
  left: 0;
}
