@import url("https://fonts.googleapis.com/css?family=Lora|Open+Sans:300,400");
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Lora", serif;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 2em;
}

h2 {
  margin-bottom: 70px;
  font-size: 40px;
}

h3 {
  font-size: 38px;
  font-weight: 100;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 20px;
}

.section {
  padding-top: 70px;
  padding-bottom: 70px;
}

.section-content {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

/******** BOOTSTRAP ******/

.main {
  margin: auto;
  width: 100% !important;
  padding-left: 0;
  padding-right: 0;
  /* to keep footer at bottom of page*/
  position: relative;
  min-height: 100%;
  padding-bottom: 220px; /* Height of the footer element */
}

.row {
  margin: auto;
}

a {
  color: #337ab7;
}

Skip
  to
  content
  Search
  or
  jump
  to…
  Pull
  requests
  Issues
  Marketplace
  Explore
  @wildpow
  code
  Issues
  0
  Pull
  requests
  0
  Projects
  0
  Wiki
  Security
  Pulse
  Community
  personal-portfolio-v2/src/components/cover.css
  @maribelduran
  maribelduran
  Convert
  to
  mobile
  first
  css
  8f83293
  on
  Jul
  31,
2018 133 lines (117 sloc) 1.94 KB .cover {
  width: 100%;
  height: 100vh;
  background-color: white;
  position: relative;
}

.animated {
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(30px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateY(30px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

.center {
  margin: 0;
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.name {
  font-size: 70px;
  font-weight: 900;
}

.greetings {
  font-weight: bold !important;
}

.overlay {
  background: #337ab7;
  position: absolute;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-bottom-style: solid;
  border-bottom-width: thin;
  top: 0;
  left: 0;
  opacity: 0.3;
  width: 100%;
  height: 100%;
}

.arrow {
  position: absolute;
  bottom: 0;
  display: block;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  z-index: 1;
  box-sizing: border-box;
  transition: all 0.5s ease;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

.arrow .btn {
  color: white;
  font-size: 35px;
  padding: 0;
  width: 100%;
}

.arrow:hover .btn {
  transform: scale(1.2);
}

.btn:focus {
  box-shadow: none !important;
}

@media only screen and (min-width: 550px) {
  .cover .name {
    font-size: 80px;
  }

  .projects .subheader {
    padding-left: 30px;
    padding-right: 30px;
  }
}
